returnvalue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="uuid"/>
        <xs:element ref="error"/>
      </xs:sequence>
      <xs:attribute name="status" use="required" type="xs:NCName"/>
      <xs:attribute name="version" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="uuid" type="xs:anyURI"/>
  <xs:element name="error" type="xs:string"/>
</xs:schema>
